@model FaultSubsystem.Models.CustomerLiaison.AddFridgeAllocationViewModel

<div class="form-parent">
    <div class="form-container">
        <h2>Allocate a Fridge</h2>

        <form asp-action="AddFridgeAllocation" method="post" class="custom-form">
            <div class="form-group">
                <label asp-for="CustomerID">Customer ID</label>
                <input type="text" id="Customer" class="form-control" value="@Model.CustomerID" readonly />
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelectedFridgeID">Select a Fridge</label>
                <select asp-for="SelectedFridgeID" class="form-control" asp-items="Model.AvailableFridges">
                    <option value="">-- Select Fridge --</option>
                </select>
                <span asp-validation-for="SelectedFridgeID" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Allocate Fridge</button>
            <a href="@Url.Action("ViewCustomerAllocations", "CustomerLiaison", new { customerId = Model.CustomerID})" class="btn btn-secondary">Back</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}