@using System.Security.Claims;
@{
    var actionName = "Login";
    if (ViewContext.RouteData.Values["Action"].ToString() != null)
    {
        actionName = ViewContext.RouteData.Values["Action"].ToString();
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/font/inter.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FaultSubsystem.styles.css" asp-append-version="true" />
    @if (ViewContext.RouteData.Values["Action"].ToString() == "Login" || ViewContext.RouteData.Values["Action"].ToString() == "CreateAccount") // Check if the current action is Login
    {
        <link rel="stylesheet" href="~/css/loginStyles.css" /> <!-- Login-specific stylesheet -->
    }
</head>
<body>
    @if (!(actionName == "Login" || actionName == "CreateAccount"))  // This will hide the banner on the login page
    {
        // Retrieve claim values
        var surname = User.FindFirstValue(ClaimTypes.Surname);
        var name = User.FindFirstValue(ClaimTypes.Name);
        var role = User.FindFirstValue(ClaimTypes.Role);
        var initial = $"{name?.FirstOrDefault()}{surname?.FirstOrDefault()}";
        <header class="top-bar">
            <div class="logo-section">
                <img src="~/images/ChillTech Logo.jpg" alt="Logo" class="logo">
                <a href="@Url.Action("Dashboard", role.Replace(" ", ""))" class="home-link">Home</a>
            </div>
            <div class="user-info">
                
                <i class="fas fa-bell bell-icon"></i>
                <span class="user-name">@surname, @name (@role)</span>
                <div class="user-icon" onclick="toggleDropdown()">@initial</div>
                <div id="dropdown" class="dropdown-content">
                    <a href="#">Logout</a>
                </div>
            </div>
        </header>
    }

    <main class="content">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>