@using FaultSubsystem.Models.Account;
@model CreateAccountViewModel;

<h2>Create Account</h2>

<form asp-action="CreateAccount" method="post">
    <div>
        <label>First Name: </label>
        <input type="text" asp-for="FirstName" required />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div>
        <label>Last Name: </label>
        <input type="text" asp-for="LastName" required />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div>
        <label>PhoneNumber: </label>
        <input type="text" asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div>
        <label>Email: </label>
        <input type="email" asp-for="Email" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label>Password: </label>
        <input type="password" asp-for="Password" required />
        <button type="button" id="togglePassword" class="toggle-password">
            👁️
        </button>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label>Confirm Password: </label>
        <input type="password" asp-for="ConfirmPassword" required />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit">Create Account</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}