@using FaultSubsystem.Models.Account;
@model LoginViewModel;

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<div class="login-container">
    <h1>Login</h1>
    <form asp-action="Login" method="post" class="login-form">
        <div>
            <label>Email</label>
            <input type="email" asp-for="Email" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label>Password</label>
            <div class="password-field">
                <input asp-for="Password" type="password" id="Password" class="form-control" required/>
                <button type="button" id="togglePassword" class="toggle-password">
                    <img src="~/icons/eye.svg" alt="Back" />
                </button>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit">Log In</button>
    </form>
</div>

<script>
    document.getElementById('togglePassword').addEventListener('click', function () {
        var passwordField = document.getElementById('Password');
        var fieldType = passwordField.type;

        // Toggle the type between 'password' and 'text'
        if (fieldType === 'password') {
            passwordField.type = 'text';
        } else {
            passwordField.type = 'password';
        }
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}