@model Location

<div class="form-parent">
    <div class="form-container">
        <h2>Edit Location</h2>

        <form asp-action="EditLocation" method="post" class="custom-form">
            <input type="hidden" asp-for="LocationID" />
            <div class="form-group">
                <label asp-for="AddressLine1">Address Line 1</label>
                <input type="text" asp-for="AddressLine1" class="form-control" />
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressLine2">Address Line 2</label>
                <input type="text" asp-for="AddressLine2" class="form-control" />
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City">City</label>
                <input type="text" asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode">Postal Code</label>
                <input type="text" asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="@Url.Action("ViewLocations", "Administrator")" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}